extends movie_layout

block hall 
    div.flex_center
        button.screen(disabled) Ekran
    div.flex_center
        -var seatNumber = 0;
        table
            -for (var row = 0; row < hall.rows_number; ++row)
                tr 
                    -for (var column = 0; column < hall.columns_number; ++column, ++seatNumber)
                        td
                            a(href=currentPath + (seatNumber + 1))
                                if (schedule_info.seats[seatNumber] == '1')
                                    button.seat.free(type='submit')
                                else
                                    button.seat.occupied(disabled)
                                